@import 'styles/variables/colors';


.active-game-container {
  align-items: center;
  background-color: $light-blue;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.canvas-container {
  align-items: center;
  background-color: $dark-blue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  max-height: 750px;
  height: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  position: relative;
}

.wait-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wait-text {
  font-size: 16px;
  color: $white;
  margin-bottom: 30px;
}

.wait-loader {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.wait-loader:after {
  content: " ";
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width : 500px) {
  .canvas-container {
    border-radius: 0;
  }
}

// Copied from Lobby.scss
.players-done-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 500px;
  max-height: 750px;
  height: 100%;
  position: absolute;
  right: -125px;
  top: 0;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin: 0 0px 5px 5px;
  background-color: $dark-blue;
  border-radius: 4px;

  span {
    font-size: 20px;
    color: $white;
    margin-bottom: 15px;
  }
}

.user-icon {
  max-width: 50px;
}

// Hide players-done-container from mobile view
@media only screen and (max-width : 500px) {
  .players-done-container {
    display: none;
  }
}