@import 'styles/variables/colors';

.finish-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(0, $dark-blue, $pink);
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.finish-title {
  font-size: 50px;
  font-weight: bold;
  line-height: 55px;
  color: $white;
  margin-bottom: 40px;
}

.libretitas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.libretita-container {
  display: flex;
  flex-direction: column;
}

.libretita-owner-name {
  font-family: 'Handwritten', sans-serif;
  background-color: $white;
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

@media only screen and (max-width : 1160px) {
  .libretitas {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width : 800px) {
  .libretitas {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width : 400px) {
  .finish-title {
    font-size: 30px;
    padding: 10px;
  }

  .finish-container {
    padding: 0;
  }
}
