$dark-blue: #1F2A69;
$medium-blue: #263675;
$light-blue: #5B7BE4;

$pink: #F41E6C;

$hard-yellow: #F69404;
$soft-yellow: #F7BE06;

$grey-1: #f9fafb;
$grey-2: #f4f5f6;
$grey-3: #e8e9ea;
$grey-4: #cacbcc;
$grey-5: #989a9b;

$white: #FAFAFA;
$black: #000000;