@font-face {
  font-family: 'Handwritten';
  src: url("assets/TrashHand.ttf") format("truetype");
}

@import 'styles/variables/colors';

.base-button {
  color: $white;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  background-color: $pink;
}

.second-button {
  @extend .base-button;
  background-color: $dark-blue;
}

